{% extends 'base.html' %}
{% block title %}Returns | Iri Collections{% endblock %}
{% block content %}
<main class="container section fade-in">
    <div class="section-header">
        <h2>Returns & Exchanges</h2>
        <div class="section-divider"></div>
    </div>
    <div style="max-width: 800px; margin: 0 auto; line-height: 1.8;">
        <p>I want you to be completely satisfied with your purchase. If any damages or defects are noticed on the
            product, please contact me via Whatsapp with your order number and a opening video of the parcel within 24
            hours of delivery.</p>
        <h3 class="mt-2 mb-1">Return Conditions</h3>
        <p>Items must be unused and in their original condition</p>
        <h3 class="mt-2 mb-1">How to Return</h3>
        <p>To initiate a return, please contact me with your order number. If approved, I will provide you with a return
            shipping label.</p>
        <h3 class="mt-2 mb-1">Refunds</h3>
        <p>Refunds will be processed within 2 hours after I receive and inspect your
            returned item.</p>
    </div>
</main>
{% endblock %}