{% extends 'base.html' %}
{% block title %}Shipping Policy | Iri Collections{% endblock %}
{% block content %}
<main class="container section fade-in">
    <div class="section-header">
        <h2>Shipping Policy</h2>
        <div class="section-divider"></div>
    </div>
    <div style="max-width: 800px; margin: 0 auto; line-height: 1.8;">
        <p>At Iri Collections, I strive to deliver your jewelry as quickly and safely as possible after requested.</p>
        <h3 class="mt-2 mb-1">Domestic Shipping</h3>
        <p>₹80 standard shipping on all domestic orders outside Chennai and ₹50 in Chennai and Tamil Nadu. Standard
            shipping typically takes 3-5 business
            days.</p>
        <h3 class="mt-2 mb-1">Order Tracking</h3>
        <p>Once your order has shipped, you will receive an SMS from IndiaPost with your tracking information. If not
            please Contact me via Whatsapp.</p>
    </div>
</main>
{% endblock %}